<%= form.fields_for :conditions, condition, { child_index: index } do |condition_form| %>
  <label class="label">Condition <%= index + 1 %></label>
  <div class="condition field is-grouped is-grouped-multiline" id="condition_<%= index %>" data-controller="conditions">
    <div class="control">
      <div class="select">
        <%= condition_form.select :source, sources_for_select(@alerts_configuration), { value: 'conditions' }, { data: { action: 'change->conditions#changeSource' } } %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= condition_form.select :field, fields_for_select(@alerts_configuration, condition_form.object.source || 'conditions'), { value: 'am_min_height' }, { data: { action: 'change->conditions#changeField' } } %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= condition_form.select :comparator, comparators_for_select %>
      </div>
    </div>
    <div class="control">
      <%= render partial: 'conditions/value', locals: { index: condition_form.index, source: condition_form.object.source || 'conditions', field: condition_form.object.field || 'am_min_height', value: condition_form.object.value } %>
    </div>
    <% unless form.object.conditions.first.id == condition_form.object.id %>
      <div class="control">
        <% if condition_form.object.persisted? %>
          <%= condition_form.hidden_field :_destroy %>
        <% end %>
        <button class="button" id="alert_conditions_<%= condition_form.index %>_destroy_button" data-action="click->conditions#delete"><ion-icon name="trash-sharp"></ion-icon></button>
      </div>
    <% end %>
  </div>
<% end %>
