<% if @alert.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_with model: @alert do |form| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'A cool alert name' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Subregion ID</label>
    <div class="control">
      <%= form.text_field :subregion_id, class: 'input', placeholder: '58581a836630e24c4487900c' %>
    </div>
  </div>

  <label class="label">Conditions</label>
  <div id="conditions" class="mb-2">
    <% @alert.conditions.each_with_index do |condition, index| %>
      <%= render partial: 'conditions/form', locals: { form: form, index: index, condition: condition } %>
    <% end %>
  </div>


  <div class="field is-grouped is-grouped-multiline">
    <div class="control" data-controller="conditions">
      <button class="button is-primary" data-action="click->conditions#add">Add Condition</button>
    </div>
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
