<% if @alert.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_with model: @alert do |form| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'A cool alert name' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Subregion ID</label>
    <div class="control">
      <%= form.text_field :subregion_id, class: 'input', placeholder: '58581a836630e24c4487900c' %>
    </div>
  </div>

  <label class="label">Conditions</label>
  <%= form.fields_for :conditions do |condition_form| %>
    <div class="field is-grouped is-grouped-multiline" data-controller="conditions">
      <div class="control">
        <div class="select">
          <%= condition_form.select :source, sources_for_select, { value: 'conditions' }, { data: { action: 'change->conditions#changeSource' } } %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :field, fields_for_select('conditions'), { value: 'am_max_height' }, { data: { action: 'change->conditions#changeField' } } %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :comparator, comparators_for_select %>
        </div>
      </div>
      <div id="alert_conditions_<%= condition_form.index %>_value_input" class="control">
        <%= render partial: 'value', locals: { condition_form: condition_form } %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
