<% if @alert.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_with model: @alert do |form| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'A cool alert name' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Subregion ID</label>
    <div class="control">
      <%= form.text_field :subregion_id, class: 'input', placeholder: '58581a836630e24c4487900c' %>
    </div>
  </div>

  <label class="label">Conditions</label>
  <%= form.fields_for :conditions do |condition_form| %>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="select">
          <%= condition_form.select :source, [['Conditions', 'conditions']], value: 'conditions' %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :field, @alerts_configuration.source_fields('conditions').map { |field| [I18n.t(['configuration', 'sources', 'conditions', 'fields', field, 'name'].join('.')), field] }, value: @alerts_configuration.source_fields('conditions').first %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :comparator, Condition::COMPARATORS.map { |c| [I18n.t(c, scope: 'conditions.comparators'), c] } %>
        </div>
      </div> 
      <div class="control">
        <%= condition_form.text_field :value, class: 'input', placeholder: '5' %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
