<%= form_with model: @alert do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'A cool alert name' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Spot ID</label>
    <div class="control">
      <%= form.text_field :spot_id, class: 'input', placeholder: '5842041f4e65fad6a7708814' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Subregion ID</label>
    <div class="control">
      <%= form.text_field :subregion_id, class: 'input', placeholder: '58581a836630e24c4487900c' %>
    </div>
  </div>

  <label class="label">Condition</label>
  <div class="field is-grouped">
    <%= form.fields_for :condition do |condition_form| %>
      <div class="control">
        <div class="select">
          <%= condition_form.select :source, @alerts_configuration.sources, value: 'conditions', readonly: true %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :field, @alerts_configuration.source_attributes('conditions') %>
        </div>
      </div>
      <div class="control">
        <div class="select">
          <%= condition_form.select :comparator, Condition::COMPARATORS.map { |c| [c, c] } %>
         </div>
      </div> 
      <div class="control">
        <%= condition_form.text_field :value, class: 'input', placeholder: '5' %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
