<%- title 'Surfmon > Alerts' %>

<section class="section">
  <div class="container columns is-multiline">
    <% if current_user %>
      <div class="column is-full">
        <%= link_to 'New Alert', new_alert_path, class: 'button is-primary' %>
      </div>

      <% if @alerts.present? %>
        <% @alerts.each do |alert| %>
          <div class="column is-full">
            <div class="card">
              <div class="card-content">
                <p class="title">
                  <%= alert.name %>
                </p>
                <p class="subtitle">
                  <%= alert.condition %>
                </p>
              </div>
              <footer class="card-footer">
                <%= link_to 'Edit', edit_alert_path(alert), class: 'card-footer-item' %>
                <%= link_to 'Delete', alert_path(alert), class: 'card-footer-item', data: { 'turbo-method': :delete, confirm: 'Are you sure?' } %>
              </footer>
            </div>
          </div>
        <% end %>
      <% else %>
        <div>
          <p class="is-size-4">Try creating some alerts...</p>
        </div>
      <% end %>
    <% else %>
      <div>
        <p class="is-size-4">Please sign up or log in...</p>
      </div>
    <% end %>
  </div>
</section>
  

