<%- title 'Surfmon > Alerts' %>

<section class="section">
  <div class="container">
    <div class="level is-mobile">
      <div class="level-right">
        <h2 class="is-size-2">Alerts</h2>
      </div>
      <div class="level-left">
        <%= link_to 'New Alert', new_alert_path(provider_type: 'surfline_spot'), class: 'button is-primary' %>
      </div>
    </div>

    <hr>

    <% if @alerts.any? %>
      <div class="columns is-multiline">
        <% @alerts.each do |alert| %>
          <div class="column is-full">
            <div class="card">
              <div class="card-content">
                <p class="title">
                  <%= alert.name %>
                </p>
                <p class="subtitle">
                  <%= alert.conditions.first(3).map { |condition| condition.to_s }.join(', ') %>
                  <%= '...' if alert.conditions.size > 3 %>
                </p>
              </div>
              <footer class="card-footer">
                <%= link_to 'Edit', edit_alert_path(alert), class: 'card-footer-item' %>
                <%= link_to 'Delete', alert_path(alert), class: 'card-footer-item', data: { 'turbo-method': :delete } %>
              </footer>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="columns is-centered mt-3">
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-inline-block">
            <%= image_tag 'surf.png', alt: 'Surf sign' %>
          </figure>
          <h3 class="is-size-3 has-text-weight-medium">No Alerts</h3>
          <p class="is-size-4">Try creating some! Click "New Alert"...</p>
        </div>
      </div>
    <% end %>
  </div>
</section>
  

