<!DOCTYPE html>
<html>
  <head>
    <title>Surfmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag 'logo.png' %>
          <p class="is-size-5 ml-2">Surfmon<p>
        </a>
      </div>
    </nav>

    <div class="container mt-2 mb-5" style="min-height: 80vh">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Built by Maxworld Technologies</p>
      </div>
    </footer>
  </body>
</html>
