<!DOCTYPE html>
<html>
  <head>
    <title>Surfmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag 'logo.png' %>
          <p class="is-size-5 ml-2">Surfmon<p>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if current_user %>
              <%= link_to 'Log Out', auth.sign_out_path, class: 'button is-light' %>
            <% else %>
              <%= link_to 'Sign Up', new_user_path, class: 'button is-primary' %>
              <%= link_to 'Log In', auth.sign_in_path, class: 'button is-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div style="min-height: 80vh">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Built by Maxworld Technologies</p>
        <p>Issues? Email me at <a href="mailto:support@maxworld.tech">support@maxworld.tech</a></p>
      </div>
    </footer>
  </body>
</html>
